@model Reservation
@{
//ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-sm table-striped table-bordered m-2">
        <tr>
            <td>@ViewBag.Title</td>
        </tr>
    </table>
</div>

