@page "/Contract"
@inject IModalService Modal

<h1>QUẢN LÝ HỢP ĐỒNG - Tạo mới hợp đồng</h1>
<div class="mb-3 col-12 row">
    <div class="card col-9 m-0 p-0">
        <div class="col-12 m-0">
            <div class="card-header">
                <p>Thông tin tài sản</p>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <th>Stt</th>
                    <th>Loại tài sản</th>
                    <th>Tên tài sản</th>
                    <th>Giá thẩm định</th>
                    <th>Giá cho vay</th>
                    <th>Ghi chú</th>
                    <tbody>
                        <tr><td colspan="6">Không có dữ liệu</td></tr>
                    </tbody>
                </table>
                <div class="col-12">
                    <div><button class="btn btn-success float-right"><i class="ik ik-plus"></i>Thêm mới tài sản</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-3 m-0 p-0">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"><button class="btn btn-success float-right"><i class="ik ik-upload"></i>Đăng ảnh</button></div>
        </div>
    </div>
</div>

<div class="mb-3 col-12 row">
    <div class="card col-12">
        <div class="card-header">
            <p>Thông tin khoản vay</p>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-3">
                    <label>Mã hợp đồng</label>
                    <input type="text" class="form-control" value="HD-00001" disabled="disabled" />
                </div>
                <div class="col-3">
                    <label class="col-4">Ngày vay</label>
                    <input type="text" class="form-control" value="20-02-2020" disabled="disabled" />
                </div>
                <div class="col-3">
                    <label class="col-4">Số ngày vay</label>
                    <input type="text" class="form-control" value="30" disabled="disabled" />
                </div>
                <div class="col-3">
                    <label class="col-4">Ngày tạo</label>
                    <input type="text" class="form-control" value="20-02-2020" disabled="disabled" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label>Giá thẩm định cửa hàng đề xuất</label>
                    <input type="text" class="form-control" value="HD-00001" disabled="disabled" />
                </div>
                <div class="col-3">
                    <label class="col-4">Số tiền cầm</label>
                    <div class="form-group row">
                        <input type="text" class="form-control col-7" placeholder="<=0" /><button class="btn btn-facebook col-5"><i class="fa fa-calendar"></i>Tính lãi và chi phí</button>
                    </div>
                </div>
                <div class="col-3">
                    <label class="col-4">Lãi và chi phí</label>
                    <input type="text" class="form-control" disabled="disabled" />
                </div>
                <div class="col-3">
                    <label>Chương trình khuyến mãi</label>
                    <select type="text" class="form-control" />
                </div>

            </div>
        </div>
    </div>
</div>


@code {
    void ShowModal() => Modal.Show<Confirm>("Welcome to Blazored Modal");

}